@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
    background: transparent;
    a{
        img:hover{
           transform: scale(1.2); 
        }
    }
    .wrapper{
        span{

        }
        .navy{
            button{
                background-image: linear-gradient(to right, #007bff, #00ffff);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                    transition: 0.3s ease-in-out;
            }
            button:hover{
                text-shadow: 0 0 5px rgba(0, 255, 255, 0.4), 0 0 10px rgba(0, 255, 255, 0.3), 0 0 15px rgba(0, 255, 255, 0.2);
            }
        }
    }
}



